*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
  }
  
  form{
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: solid 1px;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
  }
  
  h1{
    font-size: 1.4rem;
  }
  
  h2{
    font-size: 0.8rem;
    color: rgb(108, 106, 106);
  }
  
  label{
    font-size: 0.8rem;
  }

  input{
    border: solid 1px;
    border-radius: 0.2rem;
    height: 2rem;
    padding: 0.5rem;
  }
  
  button{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.2rem;
  }

  .fail:focus{
   color: red;
   border: solid red;
   outline: none;
  }

  .success:focus{
    color: green;
    border: solid green;
    outline: none;
  }